*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parent{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
}
.path{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.35em;
    font-weight: bold;
    padding: 50px 120px;
    background-color: hsla(34, 46%, 67%, 0.596);
    color: hsl(34, 22%, 28%);
    letter-spacing: 1.75px;
}
.mainContent{
    display: grid;
    width: 70%;
    grid-template-columns: 2fr 8fr;
    column-gap: 40px;
    justify-items: center;
}
.products{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    column-gap: 50px;
    row-gap: 50px;
}
.productImage{
    width: 100%;
    height: auto;
    max-height: 100%;
}
.product{
    display: grid;
    grid-template-rows: 250px 100px;
    row-gap: 20px;
    cursor: pointer;
}
.productName{
    font-size: 1.15em;
    font-weight: 500;
}
.productPrice{
    font-size: 1.15em;
    font-weight: bold;
    color: hsl(120, 32%, 30%);
}
.dataDetails{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sorting{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sorting > *{
    margin-top: 50px;
}
select{
    padding: 5px 10px;
    border: none;
    background-color: hsl(0, 0%, 93%);
    margin-top: 15px;
}
.SearchProduct{
    border: none;
    height: 25px;
    width: 100%;
    padding: 5px 8px;
    background-color: hsl(0, 0%, 93%);
    letter-spacing: 1.5px;
}
.sorting > * > div{
    font-weight: bold;
}